.container{
    /*display: flex;*/
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bg);
}
.title{
    font-weight: 200;
    color: var(--textSoft);
    margin-bottom: 20px;
}