.container {
    position: sticky;
    top: 40px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userImage {
    border-radius: 50%;
    object-fit: cover;
    background-color: #6081ca;
    width: 50px; /* Adjust size for mobile */
    height: 50px; /* Adjust size for mobile */
}

.userName {
    font-weight: 500;
}

.userTitle {
    font-size: 12px;
    color: var(--textSoft);
}

.menuList {
    margin-top: 5px;
    list-style: none;
    padding: 5px;
}

.item {
    color: var(--textSoft);
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0px 10px 0px;
}

/* Media Query for small screens */
@media (max-width: 768px) {
    .userImage {
        width: 40px;
        height: 40px;
    }

    .userName {
        font-size: 14px;
    }

    .userTitle {
        font-size: 10px;
    }

    .item {
        font-size: 12px;
    }
}
